In [73]:
import pandas as pd
import os
import numpy as np
import statsmodels.api as sm

In [74]:
# importing filtered data 
filtered = pd.read_csv('/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/Final Project Data Jan 4 2025/filtered.csv')

/var/folders/_c/t_p4w1f91_11yj717hx6qttc0000gn/T/ipykernel_98628/685495345.py:2: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  filtered = pd.read_csv('/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/Final Project Data Jan 4 2025/filtered.csv')

In [75]:
filtered

,Unnamed: 0.1,Unnamed: 0,city,address,zip_code,parcel_id,location,sale_date,sale_price
0,2625090,53162,PHILADELPHIA,1841 OAKMONT ST,19111.0,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0
1,2626395,54467,PHILADELPHIA,4516 ALDINE ST,19136.0,50015541.0,NaN,2000-01-04 05:00:00+00:00,39515.0
2,2626751,54823,PHILADELPHIA,821 CATHARINE ST,19147.0,50018248.0,NaN,2000-01-07 05:00:00+00:00,150000.0
3,2626765,54837,PHILADELPHIA,3311 W PENN ST,19129.0,50018066.0,NaN,2000-01-07 05:00:00+00:00,115000.0
4,2626881,54953,PHILADELPHIA,211 N CECIL ST,19139.0,50018288.0,NaN,2000-01-07 05:00:00+00:00,25000.0
...,...,...,...,...,...,...,...,...,...
1794721,6322840,1097624,Stamford,193 SADDLE HILL ROAD,NaN,2200073,POINT (-73.577612999 41.148977983),2022-10-11,865000.0
1794722,6322841,1097625,Wethersfield,37 LUCA LN,NaN,220369,POINT (-72.663607 41.712487),2023-09-29,760857.0
1794723,6322842,1097626,Stamford,1096 EAST MAIN STREET #16-D-1,NaN,2200470,POINT (-73.515726977 41.057837988),2023-01-09,220000.0
1794724,6322843,1097627,Old Saybrook,115 SHEFFIELD ST,NaN,22396,POINT (-72.368005967 41.289124997),2023-09-26,1575000.0
1794725,6322844,1097628,Southington,32 SOUTHINGTON AV,NaN,220890,POINT (-72.87929502 41.590926988),2023-05-18,330000.0

In [76]:
# importing all ACS data 
# Define the path to the parent folder containing all subfolders
parent_folder = '/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/Final Project Data Jan 4 2025/ACS_data/merged_files'  # Replace with the actual path

# Create an empty dictionary to store DataFrames
acs_dataframes = {}

# Loop through all subfolders and files in the parent folder
for root, dirs, files in os.walk(parent_folder):
    for file in files:
        if file.endswith('.csv'):  # Check if the file is a CSV
            file_path = os.path.join(root, file)
            # Use the CSV file name (without extension) as the DataFrame name
            df_name = os.path.splitext(file)[0]
            acs_dataframes[df_name] = pd.read_csv(file_path)

# Access individual DataFrames by their names
for name, df in acs_dataframes.items():
    print(f"DataFrame: {name}")
#     print(df.head())  # Display the first few rows of each DataFrame

DataFrame: detroit_income
DataFrame: detroit_race
DataFrame: detroit_employment
DataFrame: detroit_ed_attainment
DataFrame: ct_race
DataFrame: ct_income
DataFrame: ct_employment
DataFrame: ct_ed_attainment
DataFrame: philly_race
DataFrame: philly_employment
DataFrame: philly_ed_attainment
DataFrame: philly_income
DataFrame: pittsburgh_race
DataFrame: pittsburgh_employment
DataFrame: pittsburgh_income
DataFrame: pittsburgh_ed_attainment

In [77]:
# # importing all commerce data 

# # Define the path to the folder containing all CSV files
# folder_path = '/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/Final Project Data Jan 4 2025/commerce_data'  # Replace with the actual path to your folder

# # Create an empty dictionary to store DataFrames
# commerce_dataframes = {}

# # Loop through all files in the folder
# for file in os.listdir(folder_path):
#     if file.endswith('.csv'):  # Check if the file is a CSV
#         file_path = os.path.join(folder_path, file)
#         # Use the CSV file name (without extension) as the DataFrame name
#         df_name = os.path.splitext(file)[0]
#         commerce_dataframes[df_name] = pd.read_csv(file_path)

# # Access individual DataFrames by their names
# for name, df in commerce_dataframes.items():
#     print(f"DataFrame: {name}")
# #     print(df.head())  # Display the first few rows of each DataFrame

In [78]:
# # importing crime data 

# # Define the path to the folder containing all CSV files
# folder_path = '/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/Final Project Data Jan 4 2025/crime_data'

# # Create an empty dictionary to store DataFrames
# crime_dataframes = {}

# # Loop through all files in the folder
# for file in os.listdir(folder_path):
#     if file.endswith('.csv'):  # Check if the file is a CSV
#         file_path = os.path.join(folder_path, file)
#         df_name = os.path.splitext(file)[0]  # Use the CSV file name (without extension) as the DataFrame name
#         try:
#             # Read the CSV file and skip bad lines
#             crime_dataframes[df_name] = pd.read_csv(file_path, on_bad_lines='skip')
#         except Exception as e:
#             print(f"Error reading {file}: {e}")

# # Access individual DataFrames by their names
# for name, df in crime_dataframes.items():
#     print(f"DataFrame: {name}")
# #     print(df.head())  # Display the first few rows of each DataFrame

## Cleaning up income ACS dfs

In [79]:
# === INCOME CLEANING FUNCTION ===
def clean_income_df(df):
    # Set the first row as the header and drop it
    df.columns = df.iloc[0]
    df = df[1:].copy().reset_index(drop=True)

    # Renaming
    df = df.rename(columns={
        'Geographic Area Name': 'Census Tract',
        'Geography': 'GEOID',
        'Households!!Estimate!!Median income (dollars)': 'Median Income (Households)',
        'Families!!Estimate!!Median income (dollars)': 'Median Income (Families)',
        'Married-couple families!!Estimate!!Median income (dollars)': 'Median Income (Married Families)',
        'Nonfamily households!!Estimate!!Median income (dollars)': 'Median Income (Nonfamily Households)'
    })

    # Extracting numeric part from GEOID 
    df['GEOID'] = df['GEOID'].str.extract(r'US(\d+)', expand=False)

    # Extract only 'Census Tract xxxx'
    df['Census Tract'] = df['Census Tract'].str.extract(r'(Census Tract \d+)', expand=False)

    # Columns to keep
    keep_cols = [
        'GEOID',
        'Census Tract',
        'Median Income (Households)',
        'Median Income (Families)',
        'Median Income (Married Families)',
        'Median Income (Nonfamily Households)'
    ]

    # Subset the DataFrame
    df = df[keep_cols]

    # Replace '-' with NaN and convert median income columns to numeric
    for col in keep_cols[2:]:
        df[col] = df[col].replace('-', np.nan)
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Drop rows where all median income values are missing
    df.dropna(subset=keep_cols[1:], how='all', inplace=True)
    df = df.groupby(['Census Tract', 'GEOID'], as_index=False).mean(numeric_only=True).round(0)

    # Drop duplicates by GEOID, keeping the first
    df = df.drop_duplicates(subset='GEOID', keep='first')

    return df

cleaned_income_dfs = {}

city_income_dfs = {
    "detroit": acs_dataframes['detroit_income'],
    "philadelphia": acs_dataframes['philly_income'],
    "pittsburgh": acs_dataframes['pittsburgh_income'],
    "ct": acs_dataframes['ct_income']
}

for city, df in city_income_dfs.items():
    cleaned_df = clean_income_df(df)
    cleaned_income_dfs[city] = cleaned_df
    cleaned_df.to_csv(f"cleaned_income_{city}.csv", index=False)

# View one of the cleaned DataFrames, for example Detroit:
cleaned_income_dfs["detroit"]

,Census Tract,GEOID,Median Income (Households),Median Income (Families),Median Income (Married Families),Median Income (Nonfamily Households)
0,Census Tract 5001,26163500100,36880.0,34637.0,65424.0,34859.0
1,Census Tract 5002,26163500200,43146.0,41259.0,82650.0,36883.0
2,Census Tract 5003,26163500300,30881.0,29263.0,59897.0,24115.0
3,Census Tract 5004,26163500400,25733.0,23495.0,41176.0,24321.0
4,Census Tract 5005,26163500500,37054.0,36075.0,64538.0,31220.0
...,...,...,...,...,...,...
713,Census Tract 9865,26163986502,NaN,NaN,NaN,NaN
714,Census Tract 9866,26163986600,NaN,NaN,NaN,NaN
715,Census Tract 9870,26163987000,NaN,NaN,NaN,NaN
716,Census Tract 9901,26163990100,NaN,NaN,NaN,NaN
717,Census Tract 9902,26163990200,NaN,NaN,NaN,NaN

## Cleaning up the Education ACS data

In [80]:
# === EDUCATION CLEANING FUNCTION ===
def clean_education_df(df):
    df.columns = df.iloc[0]
    df = df[1:].copy().reset_index(drop=True)

    # Renaming columns
    df = df.rename(columns={
        'Geographic Area Name': 'Census Tract',
        'Geography': 'GEOID',
        'Total!!Estimate!!Less than high school graduate': 'Less than High School (%)',
        'Total!!Estimate!!High school graduate (includes equivalency)': 'High School Graduate (%)',
        "Total!!Estimate!!Some college or associate's degree": 'Some College or Associate Degree (%)',
        "Total!!Estimate!!Bachelor's degree or higher": "Bachelor's Degree or Higher (%)"
    })

    # Extract numeric part from GEOID (everything after 'US')
    df['GEOID'] = df['GEOID'].str.extract(r'US(\d+)', expand=False)

    # Extracting numeric part from Census Tract
    df['Census Tract'] = df['Census Tract'].str.extract(r'(Census Tract \d+)', expand=False)

    keep_cols = [
        'Census Tract',
        'GEOID',
        'Less than High School (%)',
        'High School Graduate (%)',
        'Some College or Associate Degree (%)',
        "Bachelor's Degree or Higher (%)"
    ]
    df = df[keep_cols]

    # Drop duplicates by GEOID, keeping the first
    df = df.drop_duplicates(subset='GEOID', keep='first')

    return df

# === PROCESS EDUCATION DATA ===
cleaned_education_dfs = {}
city_education_dfs = {
    "detroit": acs_dataframes['detroit_ed_attainment'],
    "philadelphia": acs_dataframes['philly_ed_attainment'],
    "pittsburgh": acs_dataframes['pittsburgh_ed_attainment'],
    "ct": acs_dataframes['ct_ed_attainment']
}
for city, df in city_education_dfs.items():
    cleaned_df = clean_education_df(df)
    cleaned_education_dfs[city] = cleaned_df
    cleaned_df.to_csv(f"cleaned_education_{city}.csv", index=False)
    print(f"Saved cleaned_education_{city}.csv")

# View one cleaned education DataFrame, for example Detroit:
cleaned_education_dfs["detroit"]

Saved cleaned_education_detroit.csv
Saved cleaned_education_philadelphia.csv
Saved cleaned_education_pittsburgh.csv
Saved cleaned_education_ct.csv

,Census Tract,GEOID,Less than High School (%),High School Graduate (%),Some College or Associate Degree (%),Bachelor's Degree or Higher (%)
0,Census Tract 5001,26163500100,26.1,48.1,24.1,1.8
1,Census Tract 5002,26163500200,8.4,39.9,11.9,39.9
2,Census Tract 5003,26163500300,45.8,42.3,8.4,3.5
3,Census Tract 5004,26163500400,75.9,18.6,5.5,0.0
4,Census Tract 5005,26163500500,29.7,55.0,15.3,0.0
...,...,...,...,...,...,...
6740,Census Tract 9864,26163986400,0,15,0,0
6741,Census Tract 9865,26163986501,0,0,0,0
6742,Census Tract 9865,26163986502,0,0,0,0
6743,Census Tract 9866,26163986600,0,0,0,0
6744,Census Tract 9870,26163987000,0,0,0,0

### Checking how many census tracts match between Education and Income data

In [81]:
for city in cleaned_income_dfs.keys():
    income_tracts = set(cleaned_income_dfs[city]['Census Tract'].dropna().unique())
    ed_tracts = set(cleaned_education_dfs[city]['Census Tract'].dropna().unique())

    only_in_income = income_tracts - ed_tracts
    only_in_ed = ed_tracts - income_tracts

    print(f"\nCity: {city.capitalize()}")
    print(f"  Tracts only in income data: {sorted(only_in_income)}")
    print(f"  Tracts only in education data: {sorted(only_in_ed)}")
    print(f"  Matching tracts: {len(income_tracts & ed_tracts)} / {len(income_tracts | ed_tracts)} total unique tracts")

City: Detroit
  Tracts only in income data: []
  Tracts only in education data: []
  Matching tracts: 661 / 661 total unique tracts

City: Philadelphia
  Tracts only in income data: []
  Tracts only in education data: []
  Matching tracts: 330 / 330 total unique tracts

City: Pittsburgh
  Tracts only in income data: []
  Tracts only in education data: []
  Matching tracts: 378 / 378 total unique tracts

City: Ct
  Tracts only in income data: []
  Tracts only in education data: []
  Matching tracts: 1342 / 1342 total unique tracts

## Cleaning up race ACS data

In [82]:
# === RACE CLEANING FUNCTION ===
def clean_race_df(df):
    df.columns = df.iloc[0]
    df = df[1:].copy().reset_index(drop=True)

    # Renaming 
    df = df.rename(columns={
        'Geographic Area Name': 'Census Tract',
        'Geography': 'GEOID',
        'Estimate!!Total': 'Total Population'
    })

    # Extract GEOID from the GEO_ID column
    df['GEOID'] = df['GEOID'].str.extract(r'US(\d+)', expand=False)

    # Extract only 'Census Tract xxxx'
    df['Census Tract'] = df['Census Tract'].str.extract(r'(Census Tract \d+)', expand=False)

    # Convert all relevant race columns to numeric
    for col in df.columns:
        if col != 'Census Tract':
            df[col] = df[col].replace('-', np.nan)
            df[col] = pd.to_numeric(df[col], errors='coerce')

    keep = [
        'GEOID',
        'Census Tract',
        'Total Population',
        'Estimate!!Total!!White alone',
        'Estimate!!Total!!Black or African American alone',
        'Estimate!!Total!!Asian alone'
    ]
    race_columns_to_sum = [col for col in df.columns if col not in keep and col != 'Census Tract']
    df['Estimate!!Total!!Others'] = df[race_columns_to_sum].sum(axis=1)

    # Convert race totals to percentages
    df['White (%)'] = (df['Estimate!!Total!!White alone'] / df['Total Population']) * 100
    df['Black (%)'] = (df['Estimate!!Total!!Black or African American alone'] / df['Total Population']) * 100
    df['Asian (%)'] = (df['Estimate!!Total!!Asian alone'] / df['Total Population']) * 100
    df['Other (%)'] = (df['Estimate!!Total!!Others'] / df['Total Population']) * 100

    # Drop raw total race counts
    df = df.drop(columns=[
        'Estimate!!Total!!White alone',
        'Estimate!!Total!!Black or African American alone',
        'Estimate!!Total!!Asian alone',
        'Estimate!!Total!!Others'
    ])

    df = df[['GEOID', 'Census Tract', 'Total Population', 'White (%)', 'Black (%)', 'Asian (%)', 'Other (%)']]

    # Drop duplicates by GEOID, keeping the first
    df = df.drop_duplicates(subset='GEOID', keep='first')

    return df

# === PROCESS RACE DATA ===
cleaned_race_dfs = {}
city_race_dfs = {
    "detroit": acs_dataframes['detroit_race'],
    "philadelphia": acs_dataframes['philly_race'],
    "pittsburgh": acs_dataframes['pittsburgh_race'],
    "ct": acs_dataframes['ct_race']
}
for city, df in city_race_dfs.items():
    cleaned_df = clean_race_df(df)
    cleaned_race_dfs[city] = cleaned_df
    cleaned_df.to_csv(f"cleaned_race_{city}.csv", index=False)
    print(f"Saved cleaned_race_{city}.csv")

# View one cleaned race DataFrame, for example Detroit:
cleaned_race_dfs["detroit"]

Saved cleaned_race_detroit.csv
Saved cleaned_race_philadelphia.csv
Saved cleaned_race_pittsburgh.csv
Saved cleaned_race_ct.csv

,GEOID,Census Tract,Total Population,White (%),Black (%),Asian (%),Other (%)
0,2.616350e+10,Census Tract 5001,3557.0,5.847624,93.533877,0.000000,1.265111e+00
1,2.616350e+10,Census Tract 5002,3045.0,8.801314,83.809524,3.973727,6.896552e+00
2,2.616350e+10,Census Tract 5003,3225.0,7.255814,90.945736,0.000000,3.503876e+00
3,2.616350e+10,Census Tract 5004,1628.0,4.361179,95.638821,0.000000,2.457002e-01
4,2.616350e+10,Census Tract 5005,2579.0,2.675456,91.314463,0.000000,7.483521e+00
...,...,...,...,...,...,...,...
6740,2.616399e+10,Census Tract 9864,45.0,66.666667,33.333333,0.000000,1.498000e+04
6741,2.616399e+10,Census Tract 9865,0.0,NaN,NaN,NaN,inf
6742,2.616399e+10,Census Tract 9865,0.0,NaN,NaN,NaN,inf
6743,2.616399e+10,Census Tract 9866,0.0,NaN,NaN,NaN,inf
6744,2.616399e+10,Census Tract 9870,0.0,NaN,NaN,NaN,inf

## Cleaning up employment ACS data

In [83]:
# === EMPLOYMENT CLEANING FUNCTION ===
def clean_employment_df(df):
    df.columns = df.iloc[0]
    df = df[1:].copy().reset_index(drop=True)
    
    # Renaming
    df = df.rename(columns={
        'Geographic Area Name': 'Census Tract',
        'Geography': 'GEOID',
        'Unemployment rate!!Estimate!!Population 16 years and over': 'Unemployment Rate (%)'
    })

    # Extract GEOID from the GEO_ID column
    df['GEOID'] = df['GEOID'].str.extract(r'US(\d+)', expand=False)

    # Extract Census Tract
    df['Census Tract'] = df['Census Tract'].str.extract(r'(Census Tract \d+)', expand=False)

    # Keep only GEOID, Census Tract, and Unemployment Rate
    df = df[['GEOID', 'Census Tract', 'Unemployment Rate (%)']]
    df['Unemployment Rate (%)'] = df['Unemployment Rate (%)'].replace('-', np.nan)
    df['Unemployment Rate (%)'] = pd.to_numeric(df['Unemployment Rate (%)'], errors='coerce')
    df.dropna(subset=['Unemployment Rate (%)'], how='all', inplace=True)

    # Drop duplicates by GEOID, keeping the first
    # Duplicates exist by GEOID, so we just kept only the first values 
    df = df.drop_duplicates(subset='GEOID', keep='first')

    return df

# === PROCESS EMPLOYMENT DATA ===
cleaned_employment_dfs = {}
city_employment_dfs = {
    "detroit": acs_dataframes['detroit_employment'],
    "philadelphia": acs_dataframes['philly_employment'],
    "pittsburgh": acs_dataframes['pittsburgh_employment'],
    "ct": acs_dataframes['ct_employment']
}
for city, df in city_employment_dfs.items():
    cleaned_df = clean_employment_df(df)
    cleaned_employment_dfs[city] = cleaned_df
    cleaned_df.to_csv(f"cleaned_employment_{city}.csv", index=False)
    print(f"Saved cleaned_employment_{city}.csv")

# View one cleaned employment DataFrame, for example Detroit:
cleaned_employment_dfs["detroit"]

Saved cleaned_employment_detroit.csv
Saved cleaned_employment_philadelphia.csv
Saved cleaned_employment_pittsburgh.csv
Saved cleaned_employment_ct.csv

0           GEOID       Census Tract  Unemployment Rate (%)
0     26163500100  Census Tract 5001                   25.6
1     26163500200  Census Tract 5002                   18.0
2     26163500300  Census Tract 5003                   32.0
3     26163500400  Census Tract 5004                   34.8
4     26163500500  Census Tract 5005                   36.7
...           ...                ...                    ...
6691  26163595201  Census Tract 5952                    2.7
6697  26163599001  Census Tract 5990                    3.9
6718  26163983400  Census Tract 9834                   11.6
6740  26163986400  Census Tract 9864                    0.0
8587  26163982000  Census Tract 9820                    0.0

[678 rows x 3 columns]

### How many tracts intersect with each other

In [84]:
# === TRACT INTERSECTION REPORT ===
for city in cleaned_income_dfs.keys():
    income_tracts = set(cleaned_income_dfs[city]['Census Tract'].dropna())
    edu_tracts = set(cleaned_education_dfs[city]['Census Tract'].dropna())
    race_tracts = set(cleaned_race_dfs[city]['Census Tract'].dropna())
    emp_tracts = set(cleaned_employment_dfs[city]['Census Tract'].dropna())

    common_tracts = income_tracts & edu_tracts & race_tracts & emp_tracts

    print(f"\nCity: {city.capitalize()}")
    print(f"  Total Census Tracts in Income: {len(income_tracts)}")
    print(f"  Total Census Tracts in Education: {len(edu_tracts)}")
    print(f"  Total Census Tracts in Race: {len(race_tracts)}")
    print(f"  Total Census Tracts in Employment: {len(emp_tracts)}")
    print(f"  ➤ Tracts present in ALL four datasets: {len(common_tracts)}")

City: Detroit
  Total Census Tracts in Income: 661
  Total Census Tracts in Education: 661
  Total Census Tracts in Race: 661
  Total Census Tracts in Employment: 628
  ➤ Tracts present in ALL four datasets: 628

City: Philadelphia
  Total Census Tracts in Income: 330
  Total Census Tracts in Education: 330
  Total Census Tracts in Race: 330
  Total Census Tracts in Employment: 321
  ➤ Tracts present in ALL four datasets: 321

City: Pittsburgh
  Total Census Tracts in Income: 378
  Total Census Tracts in Education: 378
  Total Census Tracts in Race: 378
  Total Census Tracts in Employment: 375
  ➤ Tracts present in ALL four datasets: 375

City: Ct
  Total Census Tracts in Income: 1342
  Total Census Tracts in Education: 1342
  Total Census Tracts in Race: 756
  Total Census Tracts in Employment: 1307
  ➤ Tracts present in ALL four datasets: 753

### Combining dfs into one per city

In [85]:
# === COMBINE CLEANED DATASETS PER CITY ===
combined_city_dfs = {}

for city in cleaned_income_dfs:
    income = cleaned_income_dfs[city].copy()
    edu = cleaned_education_dfs[city].copy()
    race = cleaned_race_dfs[city].copy()
    emp = cleaned_employment_dfs[city].copy()

    # Normalize GEOID formatting
    for df in [income, edu, race, emp]:
        df['GEOID'] = df['GEOID'].astype(str).str.extract(r'(\d+)', expand=False).str.strip().str.zfill(11)

    # Find shared GEOIDs
    common_geoids = set(income['GEOID']) & set(edu['GEOID']) & set(race['GEOID']) & set(emp['GEOID'])

    # Filter each dataframe to only common GEOIDs
    income = income[income['GEOID'].isin(common_geoids)]
    edu = edu[edu['GEOID'].isin(common_geoids)]
    race = race[race['GEOID'].isin(common_geoids)]
    emp = emp[emp['GEOID'].isin(common_geoids)]

    # Drop 'Census Tract' from all but one dataframe to avoid merge conflicts
    edu = edu.drop(columns=['Census Tract'], errors='ignore')
    race = race.drop(columns=['Census Tract'], errors='ignore')
    emp = emp.drop(columns=['Census Tract'], errors='ignore')

    # Merge them all on 'GEOID'
    merged = income.merge(edu, on='GEOID')\
                   .merge(race, on='GEOID')\
                   .merge(emp, on='GEOID')

    combined_city_dfs[city] = merged
    merged.to_csv(f"compiled_{city}_acs.csv", index=False)
    print(f"Saved compiled_{city}_acs.csv with {len(merged)} tracts")

Saved compiled_detroit_acs.csv with 678 tracts
Saved compiled_philadelphia_acs.csv with 408 tracts
Saved compiled_pittsburgh_acs.csv with 426 tracts
Saved compiled_ct_acs.csv with 1807 tracts

## Reading in Processed commerce data

In [86]:
# Define the path to the parent folder containing all subfolders
parent_folder = '/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/OneDrive Apr 7 2025/processed_commerce_data'

# Create an empty dictionary to store DataFrames
compiled_commerce_dataframes = {}

# Track imported files
imported_files = []

# Loop through all subfolders and files in the parent folder
for root, dirs, files in os.walk(parent_folder):
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(root, file)
            df_name = os.path.splitext(file)[0]
            df = pd.read_csv(file_path)

            # Standardize GEOID if the column exists
            if 'GEOID_TRACT_20' in df.columns:
                df = df.rename(columns={'GEOID_TRACT_20': 'GEOID'})
            elif 'tract' in df.columns:
                df = df.rename(columns={'tract': 'GEOID'})

            if 'GEOID' in df.columns:
                df['GEOID'] = df['GEOID'].astype(str).str.extract(r'(\d+)', expand=False).str.strip().str.zfill(11)

            # Keep only GEOID and total_businesses columns
            keep_cols = ['GEOID', 'total_businesses']
            df = df[[col for col in df.columns if col in keep_cols]]
            
            # Rename for readability
            df = df.rename(columns={'total_businesses': 'Total Businesses'})

            compiled_commerce_dataframes[df_name] = df
            imported_files.append(df_name)

# Print summary of imported files
print("✅ Imported the following commerce data files:")
for name in imported_files:
    print(f"  - {name}")

✅ Imported the following commerce data files:
  - processed_ct_commerce
  - processed_philly_commerce
  - processed_detroit_commerce
  - processed_pitt_commerce

## Merging ACS with Commerce Data

In [87]:
# Map between ACS city keys and their corresponding commerce DataFrame names
commerce_key_map = {
    "detroit": "processed_detroit_commerce",
    "philadelphia": "processed_philly_commerce",
    "pittsburgh": "processed_pitt_commerce",
    "ct": "processed_ct_commerce"
}

merged_acs_commerce_dfs = {}

for city, acs_df in combined_city_dfs.items():
    acs_df = acs_df.copy()
    commerce_key = commerce_key_map.get(city)

    if commerce_key in compiled_commerce_dataframes:
        commerce_df = compiled_commerce_dataframes[commerce_key].copy()

        # Merge
        merged = acs_df.merge(commerce_df, on="GEOID", how="inner")
        merged_acs_commerce_dfs[city] = merged

        # Save to CSV
        merged.to_csv(f"merged_{city}_acs_commerce.csv", index=False)
        print(f"✅ Merged {city.capitalize()} — {len(merged)} tracts saved.")
    else:
        print(f"⚠️  No commerce data found for {city}")

✅ Merged Detroit — 289 tracts saved.
✅ Merged Philadelphia — 382 tracts saved.
✅ Merged Pittsburgh — 204 tracts saved.
✅ Merged Ct — 874 tracts saved.

## Reading in processed crime data

In [103]:
import os
import pandas as pd

# Define the path to the parent folder containing all subfolders
parent_folder = '/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/OneDrive Apr 7 2025/Processed Crime Data'

# Cleaned and averaged crime data
cleaned_crime_dataframes = {}

# Track imported files
imported_files = []

# Read in files first
for root, dirs, files in os.walk(parent_folder):
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(root, file)
            df_name = os.path.splitext(file)[0]
            df = pd.read_csv(file_path)

            # Skip Connecticut data if present
            if 'ct' in df_name.lower():
                print(f"\u23ED\ufe0f Skipping: {df_name}")
                continue

            print(f"Processing: {df_name}")

            # Standardize GEOID
            if 'GEOID' in df.columns:
                pass  # it's already named GEOID
            elif 'geoid' in df.columns:
                df = df.rename(columns={'geoid': 'GEOID'})
            elif 'geo_id' in df.columns:
                df = df.rename(columns={'geo_id': 'GEOID'})
            else:
                print(f"⚠️ Skipping {df_name} because no GEOID-related column found.")
                continue

            # Now standardize depending on city
            if 'det' in df_name.lower():
                # Detroit: special fix
                df['GEOID'] = df['GEOID'].astype(str)
                df['GEOID'] = df['GEOID'].str.split('.').str[0]
                df['GEOID'] = df['GEOID'].str.slice(0, 11)
                df['GEOID'] = df['GEOID'].str.zfill(11)
            else:
                # Normal cases
                df['GEOID'] = df['GEOID'].astype(str).str.extract(r'(\d+)', expand=False).str.zfill(11)

            # Drop year columns and unnamed columns
            year_cols = [col for col in df.columns if 'year' in col.lower() or col.startswith('Unnamed')]
            df = df.drop(columns=year_cols, errors='ignore')

            # Keep only numeric columns and GEOID
            numeric_cols = df.select_dtypes(include='number').columns.tolist()
            if 'GEOID' not in numeric_cols:
                numeric_cols.append('GEOID')
            df = df[numeric_cols]

            # Group by GEOID and average
            df_avg = df.groupby('GEOID', as_index=False).mean().round(2)

            # Rename crime columns
            df_avg = df_avg.rename(columns={
                'nuisance_crime': 'Nuisance Crime Rate',
                'other_crime': 'Other Crime Rate',
                'property_crime': 'Property Crime Rate',
                'violent_crime': 'Violent Crime Rate',
                'total_offenses': 'Total Crime Rate'
            })

            cleaned_crime_dataframes[df_name] = df_avg
            imported_files.append(df_name)

# Print imported files
print("\n✅ Imported and cleaned the following crime data files:")
for name in imported_files:
    print(f"  - {name}")

Processing: new_processed_pitt_crime
Processing: new_processed_phl
Processing: new_processed_det
⏭️ Skipping: processed_ct copy

✅ Imported and cleaned the following crime data files:
  - new_processed_pitt_crime
  - new_processed_phl
  - new_processed_det

## Merging Crime data with ACS and Commerce Data

In [104]:
# === Merge crime data into merged ACS + Commerce data ===
crime_key_map = {
    "philadelphia": "new_processed_phl",
    "pittsburgh": "new_processed_pitt_crime",
    "detroit": "new_processed_det"
}

merged_acs_commerce_crime_dfs = {}

for city, acs_commerce_df in merged_acs_commerce_dfs.items():
    crime_key = crime_key_map.get(city)

    if crime_key and crime_key in cleaned_crime_dataframes:
        crime_df = cleaned_crime_dataframes[crime_key].copy()

        # Merge on GEOID
        merged = acs_commerce_df.merge(crime_df, on='GEOID', how='inner')
        merged_acs_commerce_crime_dfs[city] = merged

        # Save result
        merged.to_csv(f"merged_{city}_acs_commerce_crime.csv", index=False)
        print(f"✅ Merged {city.capitalize()} with ACS + Commerce + Crime — {len(merged)} tracts saved.")
    else:
        print(f"⚠️  No crime data found for {city}")

✅ Merged Detroit with ACS + Commerce + Crime — 265 tracts saved.
✅ Merged Philadelphia with ACS + Commerce + Crime — 351 tracts saved.
✅ Merged Pittsburgh with ACS + Commerce + Crime — 95 tracts saved.
⚠️  No crime data found for ct

## Reading in Sales Data

In [105]:
# Importing Sales Data  
sales = pd.read_csv('/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/OneDrive Apr 7 2025/full_merged_sales.csv')

# Rename and standardize columns
sales = sales.rename(columns={
    'geo_id': 'GEOID',
    'zip_code': 'Zip Code',
    'sale_date': 'Sale Date',
    'sale_price': 'Sale Price',
    'city': 'City',
    'address': 'Address',
    'location': 'Location'
})

# Format columns
sales['GEOID'] = sales['GEOID'].astype(str).str.zfill(11)
sales['Zip Code'] = sales['Zip Code'].astype(int)

sales.head()

/var/folders/_c/t_p4w1f91_11yj717hx6qttc0000gn/T/ipykernel_98628/1348541265.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('/Users/junsik/Documents/Dickinson College/Spring 2025/DATA 400/Final Project/Data/OneDrive Apr 7 2025/full_merged_sales.csv')

,Unnamed: 0,City,Address,Zip Code,parcel_id,Location,Sale Date,Sale Price,GEOID
0,0,PHILADELPHIA,1841 OAKMONT ST,19111,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0,42101030501
1,1,PHILADELPHIA,1841 OAKMONT ST,19111,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0,42101030502
2,2,PHILADELPHIA,1841 OAKMONT ST,19111,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0,42101030600
3,3,PHILADELPHIA,1841 OAKMONT ST,19111,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0,42101030700
4,4,PHILADELPHIA,1841 OAKMONT ST,19111,50016134.0,NaN,2000-01-05 05:00:00+00:00,88000.0,42101030800

## How many GEOID overlap with Sales Data

In [106]:
# Make sure sales GEOID is clean and 11 digits
sales['GEOID'] = sales['GEOID'].astype(str).str.zfill(11)
sales_geoids = set(sales['GEOID'].dropna())

# Check overlap with each city in merged_acs_commerce_dfs
for city, df in merged_acs_commerce_crime_dfs.items():
    city_geoids = set(df['GEOID'].dropna())
    common = sales_geoids & city_geoids

    print(f"{city.capitalize()}:")
    print(f"  GEOIDs in ACS+Commerce: {len(city_geoids)}")
    print(f"  GEOIDs in Sales Data: {len(sales_geoids)}")
    print(f"  ➤ Overlapping GEOIDs: {len(common)}\n")

Detroit:
  GEOIDs in ACS+Commerce: 265
  GEOIDs in Sales Data: 1176
  ➤ Overlapping GEOIDs: 265

Philadelphia:
  GEOIDs in ACS+Commerce: 351
  GEOIDs in Sales Data: 1176
  ➤ Overlapping GEOIDs: 351

Pittsburgh:
  GEOIDs in ACS+Commerce: 95
  GEOIDs in Sales Data: 1176
  ➤ Overlapping GEOIDs: 95

## Merging Sales data for Philadelphia, Detroit, and Pittsburgh

In [107]:
# Preprocess sales once
sales['GEOID'] = sales['GEOID'].astype(str).str.zfill(11)
sales['City'] = sales['City'].str.upper()  # Fix: use 'City' (capitalized) instead of 'city'

# Group by city for faster lookup
sales_by_city = {city: df for city, df in sales.groupby('City')}

# Columns to check for NaNs in income
required_income_columns = [
    'Median Income (Households)',
    'Median Income (Families)',
    'Median Income (Married Families)',
    'Median Income (Nonfamily Households)'
]

# Function to drop junk columns
def get_junk_columns(df):
    return [col for col in df.columns if col.startswith('Unnamed') or col == 'parcel_id']

# Store merged results
acs_commerce_crime_merged_with_sales = {}

for city in ['philadelphia', 'pittsburgh', 'detroit']:
    base_df = merged_acs_commerce_crime_dfs.get(city)
    city_sales = sales_by_city.get(city.upper())

    if base_df is None:
        print(f"⚠️ No ACS+Commerce data found for {city}")
        continue
    if city_sales is None:
        print(f"⚠️ No sales data found for {city}")
        continue

    merged = pd.merge(base_df, city_sales, on='GEOID', how='inner')
    merged.dropna(subset=required_income_columns, inplace=True)
    merged.drop(columns=get_junk_columns(merged), inplace=True, errors='ignore')

    acs_commerce_crime_merged_with_sales[city] = merged
    merged.to_csv(f"merged_{city}_acs_commerce_crime_sales.csv", index=False)
    print(f"✅ Merged {city.capitalize()} with Sales — {len(merged)} rows saved.")

✅ Merged Philadelphia with Sales — 2942097 rows saved.
✅ Merged Pittsburgh with Sales — 721128 rows saved.
✅ Merged Detroit with Sales — 447344 rows saved.

In [108]:
with pd.option_context('display.max_columns', None):
    display(acs_commerce_crime_merged_with_sales['philadelphia'])

,Census Tract,GEOID,Median Income (Households),Median Income (Families),Median Income (Married Families),Median Income (Nonfamily Households),Less than High School (%),High School Graduate (%),Some College or Associate Degree (%),Bachelor's Degree or Higher (%),Total Population,White (%),Black (%),Asian (%),Other (%),Unemployment Rate (%),Total Businesses,Nuisance Crime Rate,Other Crime Rate,Property Crime Rate,Violent Crime Rate,Total Crime Rate,City,Address,Zip Code,Location,Sale Date,Sale Price
0,Census Tract 10,42101001001,102329.0,171860.0,172874.0,77362.0,0.0,61.7,0.0,38.3,2256.0,93.218085,3.368794,2.792553,1.861702,1.3,21,16.59,45.12,98.59,36.76,197.06,PHILADELPHIA,821 CATHARINE ST,19147,NaN,2000-01-07 05:00:00+00:00,150000.0
1,Census Tract 10,42101001001,102329.0,171860.0,172874.0,77362.0,0.0,61.7,0.0,38.3,2256.0,93.218085,3.368794,2.792553,1.861702,1.3,21,16.59,45.12,98.59,36.76,197.06,PHILADELPHIA,727 SOUTH ST,19147,NaN,2000-01-11 05:00:00+00:00,190000.0
2,Census Tract 10,42101001001,102329.0,171860.0,172874.0,77362.0,0.0,61.7,0.0,38.3,2256.0,93.218085,3.368794,2.792553,1.861702,1.3,21,16.59,45.12,98.59,36.76,197.06,PHILADELPHIA,327 MANTON ST,19147,NaN,2000-01-11 05:00:00+00:00,40000.0
3,Census Tract 10,42101001001,102329.0,171860.0,172874.0,77362.0,0.0,61.7,0.0,38.3,2256.0,93.218085,3.368794,2.792553,1.861702,1.3,21,16.59,45.12,98.59,36.76,197.06,PHILADELPHIA,628 S 11TH ST UNIT B,19147,NaN,2000-01-11 05:00:00+00:00,70000.0
4,Census Tract 10,42101001001,102329.0,171860.0,172874.0,77362.0,0.0,61.7,0.0,38.3,2256.0,93.218085,3.368794,2.792553,1.861702,1.3,21,16.59,45.12,98.59,36.76,197.06,PHILADELPHIA,740 SAINT ALBANS ST,19147,NaN,2000-01-13 05:00:00+00:00,53000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2959441,Census Tract 9802,42101980200,108717.0,120948.0,117801.0,68183.0,0.0,0.0,54.2,45.8,384.0,100.000000,0.000000,0.000000,97.916667,21.7,12,6.71,30.18,27.94,19.24,84.06,PHILADELPHIA,3404 ASHVILLE ST,19136,NaN,2006-11-17 05:00:00+00:00,142000.0
2959442,Census Tract 9802,42101980200,108717.0,120948.0,117801.0,68183.0,0.0,0.0,54.2,45.8,384.0,100.000000,0.000000,0.000000,97.916667,21.7,12,6.71,30.18,27.94,19.24,84.06,PHILADELPHIA,4713 DECATUR ST,19136,NaN,2006-11-16 05:00:00+00:00,216500.0
2959443,Census Tract 9802,42101980200,108717.0,120948.0,117801.0,68183.0,0.0,0.0,54.2,45.8,384.0,100.000000,0.000000,0.000000,97.916667,21.7,12,6.71,30.18,27.94,19.24,84.06,PHILADELPHIA,1844 EVARTS ST,19152,NaN,2006-11-17 05:00:00+00:00,189900.0
2959444,Census Tract 9802,42101980200,108717.0,120948.0,117801.0,68183.0,0.0,0.0,54.2,45.8,384.0,100.000000,0.000000,0.000000,97.916667,21.7,12,6.71,30.18,27.94,19.24,84.06,PHILADELPHIA,4715 DECATUR ST,19136,NaN,2006-11-16 05:00:00+00:00,83500.0
2959445,Census Tract 9802,42101980200,108717.0,120948.0,117801.0,68183.0,0.0,0.0,54.2,45.8,384.0,100.000000,0.000000,0.000000,97.916667,21.7,12,6.71,30.18,27.94,19.24,84.06,PHILADELPHIA,4318 BLAKISTON ST,19136,NaN,2006-11-18 05:00:00+00:00,260000.0

In [109]:
for city, df in acs_commerce_crime_merged_with_sales.items():
    print(f"\n📊 --- {city.upper()} ---")
    print("📌 DataFrame Info:")
    print(df.info())
    print("\n📈 Descriptive Statistics:")
    display(df.describe(include='all'))

📊 --- PHILADELPHIA ---
📌 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 2942097 entries, 0 to 2959445
Data columns (total 28 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Census Tract                          object
 1   GEOID                                 object
 2   Median Income (Households)            float64
 3   Median Income (Families)              float64
 4   Median Income (Married Families)      float64
 5   Median Income (Nonfamily Households)  float64
 6   Less than High School (%)             object
 7   High School Graduate (%)              object
 8   Some College or Associate Degree (%)  object
 9   Bachelor's Degree or Higher (%)       object
 10  Total Population                      float64
 11  White (%)                             float64
 12  Black (%)                             float64
 13  Asian (%)                             float64
 14  Other (%)                             float64
 15  Unemployment Rate (%)                 float64
 16  Total Businesses                      int64
 17  Nuisance Crime Rate                   float64
 18  Other Crime Rate                      float64
 19  Property Crime Rate                   float64
 20  Violent Crime Rate                    float64
 21  Total Crime Rate                      float64
 22  City                                  object
 23  Address                               object
 24  Zip Code                              int64
 25  Location                              object
 26  Sale Date                             object
 27  Sale Price                            float64
dtypes: float64(16), int64(2), object(10)
memory usage: 650.9+ MB
None

📈 Descriptive Statistics:

,Census Tract,GEOID,Median Income (Households),Median Income (Families),Median Income (Married Families),Median Income (Nonfamily Households),Less than High School (%),High School Graduate (%),Some College or Associate Degree (%),Bachelor's Degree or Higher (%),...,Other Crime Rate,Property Crime Rate,Violent Crime Rate,Total Crime Rate,City,Address,Zip Code,Location,Sale Date,Sale Price
count,2942097,2942097,2.942097e+06,2.942097e+06,2.942097e+06,2.942097e+06,2942097,2942097,2942097,2942097,...,2.942097e+06,2.942097e+06,2.942097e+06,2.942097e+06,2942097,2942097,2.942097e+06,0,2942097,2.942097e+06
unique,297,348,NaN,NaN,NaN,NaN,200,251,277,192,...,NaN,NaN,NaN,NaN,1,167354,NaN,0,1848,NaN
top,Census Tract 289,42101038200,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,PHILADELPHIA,9228-38 BLUE GRASS RD,NaN,NaN,2004-07-14 04:00:00+00:00,NaN
freq,47524,25954,NaN,NaN,NaN,NaN,474497,119752,50455,676963,...,NaN,NaN,NaN,NaN,2942097,240,NaN,NaN,3658,NaN
mean,NaN,NaN,4.625556e+04,5.985524e+04,7.719474e+04,3.308358e+04,NaN,NaN,NaN,NaN,...,1.057016e+02,1.514485e+02,1.307200e+02,4.310615e+02,NaN,NaN,1.913303e+04,NaN,NaN,1.617071e+05
std,NaN,NaN,2.068106e+04,3.268648e+04,3.258420e+04,1.647886e+04,NaN,NaN,NaN,NaN,...,9.409406e+01,9.501761e+01,7.471970e+01,2.845752e+02,NaN,NaN,1.313761e+01,NaN,NaN,1.138874e+06
min,NaN,NaN,1.335400e+04,1.615600e+04,2.551900e+04,9.334000e+03,NaN,NaN,NaN,NaN,...,4.470000e+00,1.653000e+01,7.000000e+00,3.335000e+01,NaN,NaN,1.910200e+04,NaN,NaN,1.000100e+04
25%,NaN,NaN,3.127000e+04,3.784500e+04,5.546800e+04,2.197500e+04,NaN,NaN,NaN,NaN,...,4.688000e+01,9.612000e+01,7.124000e+01,2.353500e+02,NaN,NaN,1.912400e+04,NaN,NaN,4.000000e+04
50%,NaN,NaN,4.313500e+04,4.943400e+04,6.798600e+04,2.974200e+04,NaN,NaN,NaN,NaN,...,7.612000e+01,1.355300e+02,1.197600e+02,3.630000e+02,NaN,NaN,1.913400e+04,NaN,NaN,7.100000e+04
75%,NaN,NaN,5.618400e+04,7.175900e+04,9.117500e+04,4.085400e+04,NaN,NaN,NaN,NaN,...,1.281200e+02,1.795300e+02,1.792400e+02,5.546500e+02,NaN,NaN,1.914500e+04,NaN,NaN,1.360000e+05
max,NaN,NaN,1.302220e+05,1.844670e+05,1.998280e+05,1.136640e+05,NaN,NaN,NaN,NaN,...,6.511700e+02,1.034670e+03,3.734700e+02,1.854000e+03,NaN,NaN,1.915400e+04,NaN,NaN,1.835000e+08

📊 --- PITTSBURGH ---
📌 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 721128 entries, 0 to 723255
Data columns (total 30 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Census Tract                          721128 non-null  object
 1   GEOID                                 721128 non-null  object
 2   Median Income (Households)            721128 non-null  float64
 3   Median Income (Families)              721128 non-null  float64
 4   Median Income (Married Families)      721128 non-null  float64
 5   Median Income (Nonfamily Households)  721128 non-null  float64
 6   Less than High School (%)             721128 non-null  object
 7   High School Graduate (%)              721128 non-null  object
 8   Some College or Associate Degree (%)  721128 non-null  object
 9   Bachelor's Degree or Higher (%)       721128 non-null  object
 10  Total Population                      721128 non-null  float64
 11  White (%)                             721128 non-null  float64
 12  Black (%)                             721128 non-null  float64
 13  Asian (%)                             721128 non-null  float64
 14  Other (%)                             721128 non-null  float64
 15  Unemployment Rate (%)                 721128 non-null  float64
 16  Total Businesses                      721128 non-null  int64
 17  INCIDENTTRACT                         721128 non-null  float64
 18  Nuisance Crime Rate                   721128 non-null  float64
 19  Other Crime Rate                      721128 non-null  float64
 20  Property Crime Rate                   721128 non-null  float64
 21  Violent Crime Rate                    721128 non-null  float64
 22  Total Crime Rate                      721128 non-null  float64
 23  tract                                 721128 non-null  float64
 24  City                                  721128 non-null  object
 25  Address                               721128 non-null  object
 26  Zip Code                              721128 non-null  int64
 27  Location                              0 non-null       object
 28  Sale Date                             721128 non-null  object
 29  Sale Price                            721128 non-null  float64
dtypes: float64(18), int64(2), object(10)
memory usage: 170.6+ MB
None

📈 Descriptive Statistics:

,Census Tract,GEOID,Median Income (Households),Median Income (Families),Median Income (Married Families),Median Income (Nonfamily Households),Less than High School (%),High School Graduate (%),Some College or Associate Degree (%),Bachelor's Degree or Higher (%),...,Property Crime Rate,Violent Crime Rate,Total Crime Rate,tract,City,Address,Zip Code,Location,Sale Date,Sale Price
count,721128,721128,721128.000000,721128.000000,721128.000000,721128.000000,721128,721128,721128,721128,...,721128.000000,721128.000000,721128.000000,721128.000000,721128,721128,721128.000000,0,721128,7.211280e+05
unique,92,92,NaN,NaN,NaN,NaN,61,85,86,78,...,NaN,NaN,NaN,NaN,1,75974,NaN,0,4282,NaN
top,Census Tract 3207,42003320700,NaN,NaN,NaN,NaN,0.0,35.7,0.0,0.0,...,NaN,NaN,NaN,NaN,PITTSBURGH,"0 LINCOLN AVE, PITTSBURGH, PA 15206",NaN,NaN,2016-04-29,NaN
freq,21495,21495,NaN,NaN,NaN,NaN,175340,35010,33258,98419,...,NaN,NaN,NaN,NaN,721128,496,NaN,NaN,1902,NaN
mean,NaN,NaN,51125.300403,71005.716719,88669.651137,36389.619972,NaN,NaN,NaN,NaN,...,19.080124,18.020011,122.501882,2027.781620,NaN,NaN,15213.888068,NaN,NaN,2.901740e+05
std,NaN,NaN,22972.616716,33645.460866,30558.469881,13268.137620,NaN,NaN,NaN,NaN,...,19.499951,19.032623,135.755840,1369.658852,NaN,NaN,8.752289,NaN,NaN,1.336606e+06
min,NaN,NaN,13111.000000,19408.000000,32366.000000,10849.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,2.000000,201.000000,NaN,NaN,15201.000000,NaN,NaN,1.000100e+04
25%,NaN,NaN,35669.000000,48835.000000,70341.000000,25657.000000,NaN,NaN,NaN,NaN,...,8.620000,6.120000,45.120000,1018.000000,NaN,NaN,15206.000000,NaN,NaN,6.700000e+04
50%,NaN,NaN,49929.000000,65646.000000,81843.000000,36191.000000,NaN,NaN,NaN,NaN,...,13.750000,11.110000,85.000000,1706.000000,NaN,NaN,15212.000000,NaN,NaN,1.479000e+05
75%,NaN,NaN,59111.000000,80135.000000,101878.000000,43703.000000,NaN,NaN,NaN,NaN,...,23.250000,23.000000,152.620000,2708.000000,NaN,NaN,15219.000000,NaN,NaN,2.700000e+05
max,NaN,NaN,144624.000000,182808.000000,186851.000000,85923.000000,NaN,NaN,NaN,NaN,...,144.800000,114.700000,1076.700000,5630.000000,NaN,NaN,15235.000000,NaN,NaN,1.487529e+08

📊 --- DETROIT ---
📌 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 447344 entries, 0 to 448102
Data columns (total 28 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Census Tract                          447344 non-null  object
 1   GEOID                                 447344 non-null  object
 2   Median Income (Households)            447344 non-null  float64
 3   Median Income (Families)              447344 non-null  float64
 4   Median Income (Married Families)      447344 non-null  float64
 5   Median Income (Nonfamily Households)  447344 non-null  float64
 6   Less than High School (%)             447344 non-null  object
 7   High School Graduate (%)              447344 non-null  object
 8   Some College or Associate Degree (%)  447344 non-null  object
 9   Bachelor's Degree or Higher (%)       447344 non-null  object
 10  Total Population                      447344 non-null  float64
 11  White (%)                             447344 non-null  float64
 12  Black (%)                             447344 non-null  float64
 13  Asian (%)                             447344 non-null  float64
 14  Other (%)                             447344 non-null  float64
 15  Unemployment Rate (%)                 447344 non-null  float64
 16  Total Businesses                      447344 non-null  int64
 17  Nuisance Crime Rate                   447344 non-null  float64
 18  Other Crime Rate                      447344 non-null  float64
 19  Property Crime Rate                   447344 non-null  float64
 20  Violent Crime Rate                    447344 non-null  float64
 21  Total Crime Rate                      447344 non-null  float64
 22  City                                  447344 non-null  object
 23  Address                               441365 non-null  object
 24  Zip Code                              447344 non-null  int64
 25  Location                              447344 non-null  object
 26  Sale Date                             447344 non-null  object
 27  Sale Price                            447344 non-null  float64
dtypes: float64(16), int64(2), object(10)
memory usage: 99.0+ MB
None

📈 Descriptive Statistics:

,Census Tract,GEOID,Median Income (Households),Median Income (Families),Median Income (Married Families),Median Income (Nonfamily Households),Less than High School (%),High School Graduate (%),Some College or Associate Degree (%),Bachelor's Degree or Higher (%),...,Other Crime Rate,Property Crime Rate,Violent Crime Rate,Total Crime Rate,City,Address,Zip Code,Location,Sale Date,Sale Price
count,447344,447344,447344.000000,447344.000000,447344.000000,447344.000000,447344,447344,447344,447344,...,447344.000000,447344.000000,447344.000000,447344.000000,447344,441365,447344.000000,447344,447344,4.473440e+05
unique,261,261,NaN,NaN,NaN,NaN,213,215,207,78,...,NaN,NaN,NaN,NaN,1,211046,NaN,212627,5105,NaN
top,Census Tract 5458,26163545800,NaN,NaN,NaN,NaN,0.0,26.4,0.0,0.0,...,NaN,NaN,NaN,NaN,DETROIT,244 MADISON,NaN,POINT (-83.0557768411244 42.3237930055647),1/23/2014 12:00:00 AM,NaN
freq,4721,4721,NaN,NaN,NaN,NaN,19231,7098,13336,247788,...,NaN,NaN,NaN,NaN,447344,22,NaN,48,4628,NaN
mean,NaN,NaN,32262.784300,38602.177946,59586.092484,23700.777858,NaN,NaN,NaN,NaN,...,0.896529,3.253322,2.394017,6.684153,NaN,NaN,48219.157557,NaN,NaN,6.886125e+04
std,NaN,NaN,10739.229403,13419.680392,17912.912338,8007.141849,NaN,NaN,NaN,NaN,...,0.392914,1.247353,0.946173,2.401048,NaN,NaN,10.821304,NaN,NaN,3.054315e+06
min,NaN,NaN,11121.000000,14449.000000,15182.000000,10359.000000,NaN,NaN,NaN,NaN,...,0.290000,1.160000,0.490000,1.980000,NaN,NaN,48126.000000,NaN,NaN,0.000000e+00
25%,NaN,NaN,26225.000000,30706.000000,47219.000000,18341.000000,NaN,NaN,NaN,NaN,...,0.650000,2.540000,1.760000,5.170000,NaN,NaN,48209.000000,NaN,NaN,1.000000e+00
50%,NaN,NaN,30881.000000,35651.000000,57903.000000,22324.000000,NaN,NaN,NaN,NaN,...,0.840000,3.070000,2.270000,6.440000,NaN,NaN,48221.000000,NaN,NaN,1.400000e+03
75%,NaN,NaN,35168.000000,41259.000000,67968.000000,27902.000000,NaN,NaN,NaN,NaN,...,1.050000,3.630000,2.900000,7.730000,NaN,NaN,48228.000000,NaN,NaN,2.580000e+04
max,NaN,NaN,114458.000000,133902.000000,142467.000000,65681.000000,NaN,NaN,NaN,NaN,...,4.710000,17.250000,9.720000,30.360000,NaN,NaN,48243.000000,NaN,NaN,7.000000e+08

## Multi Linear Regression Test Runs

In [110]:
import statsmodels.api as sm
import numpy as np
import pandas as pd

def run_regression_for_all_cities(merged_data_dict):
    results = {}

    for city, df in merged_data_dict.items():
        print(f"\n📊 Running regression for: {city.title()}")

        # Drop missing or zero Sale Prices
        df = df[df["Sale Price"].notna() & (df["Sale Price"] > 0)].copy()

        # Convert education columns to numeric
        edu_cols = [
            'Less than High School (%)',
            'High School Graduate (%)',
            'Some College or Associate Degree (%)',
            "Bachelor's Degree or Higher (%)"
        ]
        for col in edu_cols:
            df[col] = pd.to_numeric(df[col], errors='coerce')

        # Drop rows with NaNs in any numeric column
        numeric_df = df.select_dtypes(include=['float64', 'int64']).dropna()

        # Separate X and y
        y = numeric_df['Sale Price']
        X = numeric_df.drop(columns=['Sale Price'])

        # Add constant for intercept
        X = sm.add_constant(X)

        # Fit model
        model = sm.OLS(y, X).fit()
        results[city] = model

        # Print summary
        print(model.summary())

    return results

# Run the function
regression_models = run_regression_for_all_cities(acs_commerce_crime_merged_with_sales)

📊 Running regression for: Philadelphia
                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     1743.
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:13   Log-Likelihood:            -4.5186e+07
No. Observations:             2942097   AIC:                         9.037e+07
Df Residuals:                 2942075   BIC:                         9.037e+07
Df Model:                          21
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                   7.3e+07   1.69e+06     43.124      0.000    6.97e+07    7.63e+07
Median Income (Households)              -4.6180      0.134    -34.568      0.000      -4.880      -4.356
Median Income (Families)                 4.2398      0.087     48.626      0.000       4.069       4.411
Median Income (Married Families)        -0.1060      0.069     -1.527      0.127      -0.242       0.030
Median Income (Nonfamily Households)     3.6364      0.116     31.395      0.000       3.409       3.863
Less than High School (%)            -3.952e+04   1.37e+04     -2.886      0.004   -6.64e+04   -1.27e+04
High School Graduate (%)              -3.97e+04   1.37e+04     -2.899      0.004   -6.65e+04   -1.29e+04
Some College or Associate Degree (%) -3.967e+04   1.37e+04     -2.897      0.004   -6.65e+04   -1.28e+04
Bachelor's Degree or Higher (%)      -3.901e+04   1.37e+04     -2.849      0.004   -6.59e+04   -1.22e+04
Total Population                        -7.5616      0.617    -12.252      0.000      -8.771      -6.352
White (%)                            -1509.3244    116.075    -13.003      0.000   -1736.828   -1281.821
Black (%)                            -1172.1564    115.437    -10.154      0.000   -1398.409    -945.903
Asian (%)                             2308.4882    147.708     15.629      0.000    2018.986    2597.990
Other (%)                            -1920.9810     83.751    -22.937      0.000   -2085.130   -1756.832
Unemployment Rate (%)                 1964.8301    141.178     13.917      0.000    1688.126    2241.535
Total Businesses                      6030.1827    137.114     43.979      0.000    5761.445    6298.920
Nuisance Crime Rate                  -2.978e+05   1.06e+05     -2.819      0.005   -5.05e+05   -9.08e+04
Other Crime Rate                     -2.975e+05   1.06e+05     -2.816      0.005   -5.05e+05   -9.04e+04
Property Crime Rate                  -2.977e+05   1.06e+05     -2.818      0.005   -5.05e+05   -9.07e+04
Violent Crime Rate                   -2.975e+05   1.06e+05     -2.816      0.005   -5.05e+05   -9.05e+04
Total Crime Rate                      2.977e+05   1.06e+05      2.818      0.005    9.06e+04    5.05e+05
Zip Code                             -3605.0487     53.086    -67.910      0.000   -3709.095   -3501.003
==============================================================================
Omnibus:                 11013391.881   Durbin-Watson:                   0.857
Prob(Omnibus):                  0.000   Jarque-Bera (JB):   12987822357369.654
Skew:                          83.276   Prob(JB):                         0.00
Kurtosis:                   10294.731   Cond. No.                     3.21e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.21e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

📊 Running regression for: Pittsburgh
                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     198.5
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:15   Log-Likelihood:            -1.1193e+07
No. Observations:              721128   AIC:                         2.239e+07
Df Residuals:                  721104   BIC:                         2.239e+07
Df Model:                          23
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                -1.517e+07   4.22e+06     -3.591      0.000   -2.34e+07   -6.89e+06
Median Income (Households)              -1.8501      0.251     -7.380      0.000      -2.341      -1.359
Median Income (Families)                 2.6753      0.248     10.796      0.000       2.190       3.161
Median Income (Married Families)        -0.5378      0.210     -2.559      0.010      -0.950      -0.126
Median Income (Nonfamily Households)    -0.2685      0.293     -0.917      0.359      -0.842       0.305
Less than High School (%)             -1.36e+05   3.15e+04     -4.314      0.000   -1.98e+05   -7.42e+04
High School Graduate (%)             -1.369e+05   3.15e+04     -4.343      0.000   -1.99e+05   -7.51e+04
Some College or Associate Degree (%) -1.361e+05   3.15e+04     -4.316      0.000   -1.98e+05   -7.43e+04
Bachelor's Degree or Higher (%)      -1.357e+05   3.15e+04     -4.307      0.000   -1.97e+05    -7.4e+04
Total Population                         8.0394      2.270      3.542      0.000       3.591      12.488
White (%)                             2.148e+04   1902.480     11.290      0.000    1.77e+04    2.52e+04
Black (%)                             2.315e+04   1909.870     12.124      0.000    1.94e+04    2.69e+04
Asian (%)                             2.163e+04   1935.427     11.177      0.000    1.78e+04    2.54e+04
Other (%)                             8294.8508   1079.538      7.684      0.000    6178.992    1.04e+04
Unemployment Rate (%)                 2836.7901    442.248      6.414      0.000    1969.999    3703.581
Total Businesses                       184.6848      7.279     25.372      0.000     170.418     198.952
INCIDENTTRACT                         3.622e+09   8.64e+11      0.004      0.997   -1.69e+12     1.7e+12
Nuisance Crime Rate                  -1.925e+06   2.53e+05     -7.601      0.000   -2.42e+06   -1.43e+06
Other Crime Rate                     -1.926e+06   2.53e+05     -7.609      0.000   -2.42e+06   -1.43e+06
Property Crime Rate                  -1.928e+06   2.53e+05     -7.615      0.000   -2.42e+06   -1.43e+06
Violent Crime Rate                   -1.929e+06   2.53e+05     -7.617      0.000   -2.43e+06   -1.43e+06
Total Crime Rate                      1.927e+06   2.53e+05      7.610      0.000    1.43e+06    2.42e+06
tract                                -3.622e+09   8.64e+11     -0.004      0.997    -1.7e+12    1.69e+12
Zip Code                              1764.0957    193.784      9.103      0.000    1384.285    2143.907
==============================================================================
Omnibus:                  2184929.464   Durbin-Watson:                   1.666
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     351307918848.989
Skew:                          44.987   Prob(JB):                         0.00
Kurtosis:                    3421.165   Cond. No.                     1.09e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.19e-12. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

📊 Running regression for: Detroit

                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     125.1
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:16   Log-Likelihood:            -5.8662e+06
No. Observations:              356370   AIC:                         1.173e+07
Df Residuals:                  356348   BIC:                         1.173e+07
Df Model:                          21
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                -2.632e+07   3.03e+07     -0.868      0.385   -8.57e+07    3.31e+07
Median Income (Households)             -47.0316      1.988    -23.659      0.000     -50.928     -43.135
Median Income (Families)                29.8877      1.280     23.350      0.000      27.379      32.396
Median Income (Married Families)        -0.4731      0.547     -0.865      0.387      -1.545       0.599
Median Income (Nonfamily Households)    35.7986      1.614     22.185      0.000      32.636      38.961
Less than High School (%)             1164.3147    202.298      5.755      0.000     767.817    1560.812
High School Graduate (%)               698.7323    220.167      3.174      0.002     267.212    1130.253
Some College or Associate Degree (%) -1284.2774    202.014     -6.357      0.000   -1680.219    -888.336
Bachelor's Degree or Higher (%)        419.9574    717.407      0.585      0.558    -986.139    1826.054
Total Population                        -0.0890      6.837     -0.013      0.990     -13.488      13.310
White (%)                              802.9368   1332.920      0.602      0.547   -1809.547    3415.420
Black (%)                               14.3490    891.148      0.016      0.987   -1732.276    1760.974
Asian (%)                            -1265.2413   1290.372     -0.981      0.327   -3794.333    1263.851
Other (%)                             -311.5024     73.264     -4.252      0.000    -455.097    -167.908
Unemployment Rate (%)                 5799.4693    858.109      6.758      0.000    4117.601    7481.337
Total Businesses                      1.934e+04    742.933     26.027      0.000    1.79e+04    2.08e+04
Nuisance Crime Rate                  -4.592e+06   9.16e+05     -5.016      0.000   -6.39e+06    -2.8e+06
Other Crime Rate                     -5.471e+06   9.13e+05     -5.990      0.000   -7.26e+06   -3.68e+06
Property Crime Rate                  -5.376e+06   9.14e+05     -5.879      0.000   -7.17e+06   -3.58e+06
Violent Crime Rate                   -5.404e+06   9.13e+05     -5.918      0.000   -7.19e+06   -3.61e+06
Total Crime Rate                      5.423e+06   9.14e+05      5.935      0.000    3.63e+06    7.21e+06
Zip Code                               524.7106    628.955      0.834      0.404    -708.024    1757.445
==============================================================================
Omnibus:                  1722293.200   Durbin-Watson:                   0.295
Prob(Omnibus):                  0.000   Jarque-Bera (JB):   22666978784805.414
Skew:                         192.155   Prob(JB):                         0.00
Kurtosis:                   39071.871   Cond. No.                     5.15e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.15e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

## Log Linear Regression

In [111]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import statsmodels.formula.api as smf

# === PREPARE DATA ===
def preprocess_for_modeling(df):
    df = df.copy()
    df = df[df["Sale Price"].notna() & (df["Sale Price"] > 0)]

    # Convert education columns to numeric if not already
    education_cols = [
        'Less than High School (%)',
        'High School Graduate (%)',
        'Some College or Associate Degree (%)',
        "Bachelor's Degree or Higher (%)"
    ]
    for col in education_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    numeric_cols = df.select_dtypes(include=['float64', 'int64']).drop(columns=['Sale Price']).columns
    df = df.dropna(subset=numeric_cols)

    X = df[numeric_cols]
    y = df["Sale Price"]
    return X, y

# === LOG-LINEAR REGRESSION ===
def log_linear_regression(X, y):
    y_log = np.log(y)
    X_const = sm.add_constant(X)
    model = sm.OLS(y_log, X_const).fit()
    return model

# === RUN FOR ALL CITIES ===
def run_log_linear_for_all_cities(data_dict):
    results = {}
    for city, df in data_dict.items():
        print(f"\n📊 Running Log-Linear Regression for: {city.title()}")
        X, y = preprocess_for_modeling(df)
        model = log_linear_regression(X, y)
        print(model.summary())
        results[city] = model
    return results

# Example usage:
log_linear_models = run_log_linear_for_all_cities(acs_commerce_crime_merged_with_sales)

📊 Running Log-Linear Regression for: Philadelphia
                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.182
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                 3.120e+04
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:24   Log-Likelihood:            -3.8241e+06
No. Observations:             2942097   AIC:                         7.648e+06
Df Residuals:                 2942075   BIC:                         7.649e+06
Df Model:                          21
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                  182.3770      1.328    137.372      0.000     179.775     184.979
Median Income (Households)           -3.887e-06   1.05e-07    -37.104      0.000   -4.09e-06   -3.68e-06
Median Income (Families)              3.988e-06   6.84e-08     58.313      0.000    3.85e-06    4.12e-06
Median Income (Married Families)      2.194e-06   5.44e-08     40.303      0.000    2.09e-06     2.3e-06
Median Income (Nonfamily Households)  9.802e-06   9.08e-08    107.908      0.000    9.62e-06    9.98e-06
Less than High School (%)                0.0255      0.011      2.376      0.017       0.004       0.047
High School Graduate (%)                 0.0254      0.011      2.368      0.018       0.004       0.046
Some College or Associate Degree (%)     0.0248      0.011      2.305      0.021       0.004       0.046
Bachelor's Degree or Higher (%)          0.0262      0.011      2.440      0.015       0.005       0.047
Total Population                      9.086e-07   4.84e-07      1.877      0.061   -4.01e-08    1.86e-06
White (%)                                0.0067    9.1e-05     73.205      0.000       0.006       0.007
Black (%)                                0.0035   9.05e-05     39.013      0.000       0.003       0.004
Asian (%)                                0.0137      0.000    118.608      0.000       0.014       0.014
Other (%)                               -0.0007   6.57e-05    -10.493      0.000      -0.001      -0.001
Unemployment Rate (%)                    0.0004      0.000      3.283      0.001       0.000       0.001
Total Businesses                         0.0024      0.000     22.301      0.000       0.002       0.003
Nuisance Crime Rate                      3.2710      0.083     39.484      0.000       3.109       3.433
Other Crime Rate                         3.2726      0.083     39.503      0.000       3.110       3.435
Property Crime Rate                      3.2714      0.083     39.489      0.000       3.109       3.434
Violent Crime Rate                       3.2709      0.083     39.481      0.000       3.108       3.433
Total Crime Rate                        -3.2716      0.083    -39.491      0.000      -3.434      -3.109
Zip Code                                -0.0091   4.16e-05   -219.347      0.000      -0.009      -0.009
==============================================================================
Omnibus:                   385087.314   Durbin-Watson:                   1.166
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1175064.220
Skew:                           0.692   Prob(JB):                         0.00
Kurtosis:                       5.769   Cond. No.                     3.21e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.21e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

📊 Running Log-Linear Regression for: Pittsburgh
                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.102
Model:                            OLS   Adj. R-squared:                  0.102
Method:                 Least Squares   F-statistic:                     3548.
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:26   Log-Likelihood:            -1.0628e+06
No. Observations:              721128   AIC:                         2.126e+06
Df Residuals:                  721104   BIC:                         2.126e+06
Df Model:                          23
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                  -45.5181      3.348    -13.594      0.000     -52.081     -38.955
Median Income (Households)           -1.494e-06   1.99e-07     -7.516      0.000   -1.88e-06    -1.1e-06
Median Income (Families)              5.441e-06   1.96e-07     27.691      0.000    5.06e-06    5.83e-06
Median Income (Married Families)       9.16e-07   1.67e-07      5.498      0.000    5.89e-07    1.24e-06
Median Income (Nonfamily Households) -7.459e-06   2.32e-07    -32.125      0.000   -7.91e-06      -7e-06
Less than High School (%)               -0.3704      0.025    -14.818      0.000      -0.419      -0.321
High School Graduate (%)                -0.3721      0.025    -14.883      0.000      -0.421      -0.323
Some College or Associate Degree (%)    -0.3728      0.025    -14.906      0.000      -0.422      -0.324
Bachelor's Degree or Higher (%)         -0.3688      0.025    -14.758      0.000      -0.418      -0.320
Total Population                      7.429e-05    1.8e-06     41.278      0.000    7.08e-05    7.78e-05
White (%)                                0.0400      0.002     26.518      0.000       0.037       0.043
Black (%)                                0.0424      0.002     27.998      0.000       0.039       0.045
Asian (%)                                0.0373      0.002     24.282      0.000       0.034       0.040
Other (%)                                0.0186      0.001     21.751      0.000       0.017       0.020
Unemployment Rate (%)                    0.0091      0.000     25.991      0.000       0.008       0.010
Total Businesses                      8.214e-05   5.77e-06     14.231      0.000    7.08e-05    9.34e-05
INCIDENTTRACT                        -4.148e+05   6.85e+05     -0.605      0.545   -1.76e+06    9.28e+05
Nuisance Crime Rate                     -7.7154      0.201    -38.428      0.000      -8.109      -7.322
Other Crime Rate                        -7.7271      0.201    -38.496      0.000      -8.120      -7.334
Property Crime Rate                     -7.7222      0.201    -38.469      0.000      -8.116      -7.329
Violent Crime Rate                      -7.7390      0.201    -38.543      0.000      -8.132      -7.345
Total Crime Rate                         7.7260      0.201     38.488      0.000       7.333       8.119
tract                                 4.148e+05   6.85e+05      0.605      0.545   -9.28e+05    1.76e+06
Zip Code                                 0.0060      0.000     38.732      0.000       0.006       0.006
==============================================================================
Omnibus:                    22292.619   Durbin-Watson:                   1.566
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            54730.339
Skew:                           0.130   Prob(JB):                         0.00
Kurtosis:                       4.324   Cond. No.                     1.09e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.19e-12. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

📊 Running Log-Linear Regression for: Detroit

                            OLS Regression Results
==============================================================================
Dep. Variable:             Sale Price   R-squared:                       0.039
Model:                            OLS   Adj. R-squared:                  0.039
Method:                 Least Squares   F-statistic:                     687.1
Date:                Fri, 25 Apr 2025   Prob (F-statistic):               0.00
Time:                        14:11:27   Log-Likelihood:            -9.9286e+05
No. Observations:              356370   AIC:                         1.986e+06
Df Residuals:                  356348   BIC:                         1.986e+06
Df Model:                          21
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                 -252.5544     34.883     -7.240      0.000    -320.923    -184.185
Median Income (Households)            2.959e-06   2.29e-06      1.293      0.196   -1.53e-06    7.44e-06
Median Income (Families)               2.96e-06   1.47e-06      2.009      0.045    7.24e-08    5.85e-06
Median Income (Married Families)      8.426e-06    6.3e-07     13.383      0.000    7.19e-06    9.66e-06
Median Income (Nonfamily Households)   2.81e-05   1.86e-06     15.130      0.000    2.45e-05    3.17e-05
Less than High School (%)               -0.0029      0.000    -12.379      0.000      -0.003      -0.002
High School Graduate (%)                 0.0003      0.000      1.071      0.284      -0.000       0.001
Some College or Associate Degree (%)     0.0002      0.000      0.940      0.347      -0.000       0.001
Bachelor's Degree or Higher (%)          0.0012      0.001      1.433      0.152      -0.000       0.003
Total Population                       5.17e-05   7.87e-06      6.570      0.000    3.63e-05    6.71e-05
White (%)                                0.0087      0.002      5.649      0.000       0.006       0.012
Black (%)                                0.0041      0.001      3.981      0.000       0.002       0.006
Asian (%)                                0.0071      0.001      4.796      0.000       0.004       0.010
Other (%)                               -0.0018   8.43e-05    -21.484      0.000      -0.002      -0.002
Unemployment Rate (%)                   -0.0133      0.001    -13.423      0.000      -0.015      -0.011
Total Businesses                         0.0037      0.001      4.330      0.000       0.002       0.005
Nuisance Crime Rate                     -0.4942      1.054     -0.469      0.639      -2.560       1.571
Other Crime Rate                         0.7976      1.051      0.759      0.448      -1.263       2.858
Property Crime Rate                      1.1011      1.053      1.046      0.296      -0.962       3.164
Violent Crime Rate                       0.3295      1.051      0.314      0.754      -1.730       2.389
Total Crime Rate                        -0.6590      1.052     -0.627      0.531      -2.720       1.402
Zip Code                                 0.0053      0.001      7.388      0.000       0.004       0.007
==============================================================================
Omnibus:                    35962.991   Durbin-Watson:                   1.524
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            46691.813
Skew:                          -0.875   Prob(JB):                         0.00
Kurtosis:                       2.719   Cond. No.                     5.15e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.15e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ridge Lasso Regression

In [ ]:
# # === RIDGE AND LASSO REGRESSION ===
# def ridge_lasso_regression(X, y):
#     X_scaled = StandardScaler().fit_transform(X)
#     X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

#     ridge = Ridge(alpha=1.0).fit(X_train, y_train)
#     lasso = Lasso(alpha=0.1).fit(X_train, y_train)

#     return {
#         "ridge_r2": ridge.score(X_test, y_test),
#         "lasso_r2": lasso.score(X_test, y_test),
#         "ridge_model": ridge,
#         "lasso_model": lasso
#     }

# # === RUN RIDGE & LASSO FOR ALL CITIES ===
# def run_ridge_lasso_for_all_cities(data_dict):
#     results = {}
#     for city, df in data_dict.items():
#         print(f"\n📈 Running Ridge & Lasso Regression for: {city.title()}")
#         X, y = preprocess_for_modeling(df)
#         res = ridge_lasso_regression(X, y)
#         print(f"Ridge R^2: {res['ridge_r2']:.4f} | Lasso R^2: {res['lasso_r2']:.4f}")
#         results[city] = res
#     return results

# ridge_lasso_models = run_ridge_lasso_for_all_cities(acs_commerce_crime_merged_with_sales)

📈 Running Ridge & Lasso Regression for: Philadelphia

/Users/junsik/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.334e+18, tolerance: 2.981e+14
  model = cd_fast.enet_coordinate_descent(

Ridge R^2: 0.0122 | Lasso R^2: 0.0122

📈 Running Ridge & Lasso Regression for: Pittsburgh

## Quantile Regression

In [ ]:
# === QUANTILE REGRESSION ===
def quantile_regression(X, y, quantile=0.5):
    X_const = sm.add_constant(X)
    model = sm.QuantReg(np.log(y), X_const).fit(q=quantile)
    return model

# === RUN QUANTILE FOR ALL CITIES ===
def run_quantile_for_all_cities(data_dict, quantiles=[0.25, 0.5, 0.75]):
    results = {}
    for city, df in data_dict.items():
        print(f"\n📊 Running Quantile Regressions for: {city.title()}")
        X, y = preprocess_for_modeling(df)
        city_results = {}
        for q in quantiles:
            print(f"\nQuantile: {q}")
            model = quantile_regression(X, y, quantile=q)
            print(model.summary())
            city_results[q] = model
        results[city] = city_results
    return results

quantile_models = run_quantile_for_all_cities(acs_commerce_crime_merged_with_sales)

In [ ]:
pip install -U kaleido

In [ ]:
import pandas as pd
import plotly.express as px

# R-squared values from your regressions
r2_data = {
    'Philadelphia': {
        'Multi Linear': 0.012,
        'Log-Linear': 0.182,
        'Ridge': 0.0122,
        'Lasso': 0.0122,
        'Quantile (0.25)': 0.1036,
        'Quantile (0.5)': 0.1215,
        'Quantile (0.75)': 0.1333
    },
    'Pittsburgh': {
        'Multi Linear': 0.006,
        'Log-Linear': 0.102,
        'Ridge': 0.0068,
        'Lasso': 0.0068,
        'Quantile (0.25)': 0.06414,
        'Quantile (0.5)': 0.06334,
        'Quantile (0.75)': 0.07584
    },
    'Detroit': {
        'Multi Linear': 0.007,
        'Log-Linear': 0.039,
        'Ridge': 0.0045,
        'Lasso': 0.0044,
        'Quantile (0.25)': 0.01850,
        'Quantile (0.5)': 0.05188,
        'Quantile (0.75)': 0.04721
    }
}

# Convert to DataFrame
df_r2 = pd.DataFrame(r2_data).reset_index().rename(columns={'index': 'Model'})
df_r2 = pd.melt(df_r2, id_vars='Model', var_name='City', value_name='R_squared')

# Create bar chart
fig = px.bar(df_r2, x='City', y='R_squared', color='Model', barmode='group',
             title='R² Values Across Regression Models by City',
             labels={'R_squared': 'R² Value'},
             height=600)

# Transparent background
fig.update_layout(
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    yaxis=dict(range=[0, 0.2]),
    legend_title_text='Model',
    font=dict(size=14)
)

# Save figure (install kaleido first!)
# 
fig.write_image("regression_r2_comparison_plotly.png", format="png")

# Show plot
fig.show()

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Top features from log-linear models
top_features = {
    "Philadelphia": [
        ("Asian (%)", 0.0137, "<0.001"),
        ("Bachelor's Degree or Higher (%)", 0.0262, "0.015"),
        ("Median Income (Nonfamily Households)", 9.802e-06, "<0.001"),
    ],
    "Pittsburgh": [
        ("Black (%)", 0.0424, "<0.001"),
        ("Asian (%)", 0.0373, "<0.001"),
        ("White (%)", 0.0400, "<0.001"),
    ],
    "Detroit": [
        ("Asian (%)", 0.0071, "<0.001"),
        ("White (%)", 0.0087, "<0.001"),
        ("Total Population", 5.17e-05, "<0.001"),
    ]
}

# Format for Plotly Table
rows = []
colors = []
city_colors = {
    "Philadelphia": '#1e88e5',  # Medium blue
    "Pittsburgh": '#90caf9',    # Light blue
    "Detroit": '#ffffff'        # White
}

for city, features in top_features.items():
    for feature, coef, pval in features:
        rows.append({
            "City": city,
            "Feature": feature,
            "Coefficient": coef,
            "p-value": pval
        })
        colors.append(city_colors[city])

# Convert to DataFrame
df = pd.DataFrame(rows)

# Create interactive color-coded table
fig = go.Figure(data=[go.Table(
    header=dict(
        values=["<b>City</b>", "<b>Feature</b>", "<b>Coefficient</b>", "<b>p-value</b>"],
        fill_color='royalblue',
        font=dict(color='white', size=14),
        align='left'
    ),
    cells=dict(
        values=[df.City, df.Feature, df.Coefficient.round(5), df['p-value']],
        fill_color=[colors],
        align='left',
        font=dict(size=13, color='black')
    )
)])

fig.update_layout(
    title="Top Predictors of Sale Price (Log-Linear Regression)",
    title_font_size=20,
    margin=dict(l=20, r=20, t=60, b=20),
    paper_bgcolor='rgba(0,0,0,0)'
)

fig.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Use a clean and appealing theme
sns.set_theme(style="whitegrid", context="notebook")

# Custom color palette for city comparison
city_palette = {
    "Philadelphia": "#1f77b4",  # Soft blue
    "Pittsburgh": "#2ca02c",    # Medium green
    "Detroit": "#ff7f0e"        # Orange
}

# === BAR CHART: Top LightGBM Feature Importances by City ===
top_n = 5
importance_df = pd.DataFrame()

for city, metrics in results.items():
    fi = pd.DataFrame({
        'Feature': metrics['X_train'].columns,
        'Importance': metrics['lgb_model'].feature_importances_,
        'City': city.title()  # Capitalize to match palette keys
    })
    importance_df = pd.concat([importance_df, fi.nlargest(top_n, 'Importance')])

plt.figure(figsize=(12, 6))
sns.barplot(data=importance_df, x='Importance', y='Feature', hue='City', palette=city_palette)
plt.title("Top LightGBM Feature Importances by City")
plt.xlabel("Importance")
plt.ylabel("Feature")
plt.legend(title="City")
plt.tight_layout()
plt.savefig("top_importances_by_city.png", dpi=300)
plt.show()

In [ ]:
# === CORRELATION HEATMAPS FOR EACH CITY ===
for city in results:
    X_corr = results[city]['X_train'].corr()

    plt.figure(figsize=(12, 10))
    sns.heatmap(X_corr, cmap="crest", center=0, annot=False, cbar_kws={'shrink': 0.7})
    plt.title(f"{city.title()} - Feature Correlation Matrix", fontsize=14)
    plt.tight_layout()
    plt.savefig(f"{city.lower()}_correlation_heatmap.png", dpi=300)
    plt.show()

## Machine Learning Algo

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm

# === PREPROCESSING FUNCTION ===
def preprocess_for_modeling(df):
    """
    Preprocess the DataFrame for modeling:
    - Remove rows with missing or zero 'Sale Price'.
    - Convert education columns (given in percentage as strings) to numeric.
    - Drop rows with NaNs in the numeric columns (excluding 'Sale Price').
    Returns predictors X and target y.
    """
    df = df.copy()
    df = df[df["Sale Price"].notna() & (df["Sale Price"] > 0)]
    
    # Convert education columns to numeric if not already numeric
    education_cols = [
        'Less than High School (%)',
        'High School Graduate (%)',
        'Some College or Associate Degree (%)',
        "Bachelor's Degree or Higher (%)"
    ]
    for col in education_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Select only numeric columns (excluding the target)
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).drop(columns=['Sale Price'], errors='ignore').columns
    df = df.dropna(subset=numeric_cols)
    
    X = df[numeric_cols]
    y = df["Sale Price"]
    return X, y

# === LOAD YOUR DATA ===
# For this example, we'll use the Philadelphia dataset.
# In your context, 'acs_commerce_crime_merged_with_sales' is already defined.
final_data = acs_commerce_crime_merged_with_sales['philadelphia']

# Preprocess the data
X, y = preprocess_for_modeling(final_data)
print(f"Preprocessed data: X shape = {X.shape}, y shape = {y.shape}")

# === TRAIN-TEST SPLIT ===
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import xgboost as xgb
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns

# === PREPROCESSING FUNCTION ===
def preprocess_for_modeling(df):
    df = df.copy()
    # Keep only rows with valid and positive Sale Price
    df = df[df["Sale Price"].notna() & (df["Sale Price"] > 0)]
    
    # Convert education columns to numeric if not already
    education_cols = [
        'Less than High School (%)',
        'High School Graduate (%)',
        'Some College or Associate Degree (%)',
        "Bachelor's Degree or Higher (%)"
    ]
    for col in education_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Select only numeric columns (excluding the target)
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).drop(columns=['Sale Price'], errors='ignore').columns
    df = df.dropna(subset=numeric_cols)
    
    X = df[numeric_cols]
    y = df["Sale Price"]
    return X, y

# === INITIALIZE RESULTS DICTIONARIES ===
results = {}
cities = list(acs_commerce_crime_merged_with_sales.keys())

for city in cities:
    print(f"\n===== Processing {city.title()} Dataset =====")
    
    # Load data for the current city
    data = acs_commerce_crime_merged_with_sales[city]
    
    # Preprocess
    X, y = preprocess_for_modeling(data)
    print(f"Preprocessed data for {city.title()}: X shape = {X.shape}, y shape = {y.shape}")
    
    # Train-test Split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # === XGBOOST REGRESSION ===
    xgb_model = xgb.XGBRegressor(
        n_estimators=200,
        learning_rate=0.1,
        max_depth=5,
        random_state=42,
        n_jobs=-1
    )
    xgb_model.fit(X_train, y_train)
    y_pred_xgb = xgb_model.predict(X_test)
    rmse_xgb = np.sqrt(mean_squared_error(y_test, y_pred_xgb))
    r2_xgb = r2_score(y_test, y_pred_xgb)
    print(f"{city.title()} - XGBoost RMSE: {rmse_xgb:.2f}, R²: {r2_xgb:.3f}")
    
    # === LIGHTGBM REGRESSION ===
    lgb_model = lgb.LGBMRegressor(
        n_estimators=200,
        learning_rate=0.1,
        max_depth=5,
        random_state=42,
        n_jobs=-1
    )
    lgb_model.fit(X_train, y_train)
    y_pred_lgb = lgb_model.predict(X_test)
    rmse_lgb = np.sqrt(mean_squared_error(y_test, y_pred_lgb))
    r2_lgb = r2_score(y_test, y_pred_lgb)
    print(f"{city.title()} - LightGBM RMSE: {rmse_lgb:.2f}, R²: {r2_lgb:.3f}")
    
    # Store models and metrics
    results[city] = {
        'rmse_xgb': rmse_xgb,
        'r2_xgb': r2_xgb,
        'rmse_lgb': rmse_lgb,
        'r2_lgb': r2_lgb,
        'xgb_model': xgb_model,
        'lgb_model': lgb_model,
        'X_train': X_train,
        'X_test': X_test,
        'y_test': y_test,
        'y_pred_xgb': y_pred_xgb,
        'y_pred_lgb': y_pred_lgb
    }
    
# === VISUALIZATIONS: LightGBM Feature Importances for each city ===
import matplotlib.pyplot as plt
import seaborn as sns

for city, metrics in results.items():
    # Extract the feature names and LightGBM importances
    features = metrics['X_train'].columns
    lgb_importances = metrics['lgb_model'].feature_importances_
    
    # Create a DataFrame for LightGBM importances
    fi_df = pd.DataFrame({
        'Feature': features,
        'LightGBM Importance': lgb_importances
    })
    # Sort descending by importance
    fi_df.sort_values(by='LightGBM Importance', ascending=False, inplace=True)
    
    # Plot only LightGBM's feature importances
    plt.figure(figsize=(10, 8))
    sns.barplot(x='LightGBM Importance', y='Feature', data=fi_df, palette='viridis')
    plt.title(f"{city.title()} - LightGBM Feature Importances")
    plt.xlabel("Importance")
    plt.ylabel("Feature")
    plt.tight_layout()
    plt.show()

# Save the figure
    filename = f"{output_dir}/{city.lower().replace(' ', '_')}_lightgbm_importance.png"
    plt.savefig(filename, dpi=300, bbox_inches='tight', transparent=True)
    
    plt.show()

In [ ]:
# === RANDOM FOREST REGRESSION ===
rf_model = RandomForestRegressor(
    n_estimators=100, 
    max_depth=None, 
    random_state=42, 
    n_jobs=-1
)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)
rmse_rf = np.sqrt(mean_squared_error(y_test, y_pred_rf))
r2_rf = r2_score(y_test, y_pred_rf)
print(f"Random Forest RMSE: {rmse_rf:.2f}, R²: {r2_rf:.3f}")

In [ ]:
# === VISUALIZATIONS ===

# 1. FEATURE IMPORTANCE COMPARISON
feature_names = X_train.columns
gb_importances = gb_model.feature_importances_
rf_importances = rf_model.feature_importances_

# Create a DataFrame for side-by-side feature importance comparison.
fi_df = pd.DataFrame({
    'Feature': feature_names,
    'GB Importance': gb_importances,
    'RF Importance': rf_importances
}).sort_values(by='GB Importance', ascending=False)

plt.figure(figsize=(10, 8))
sns.barplot(x='GB Importance', y='Feature', data=fi_df, color='green', label='Gradient Boosting')
sns.barplot(x='RF Importance', y='Feature', data=fi_df, color='blue', alpha=0.6, label='Random Forest')
plt.title("Feature Importances: Gradient Boosting vs. Random Forest")
plt.xlabel("Importance")
plt.ylabel("Feature")
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
# 2. ACTUAL VS. PREDICTED SCATTER PLOT (GRADIENT BOOSTING)
plt.figure(figsize=(8, 6))
plt.scatter(y_test, y_pred_gb, alpha=0.3, color='green')
plt.xlabel("Actual Sale Price")
plt.ylabel("Predicted Sale Price (GB)")
plt.title("Gradient Boosting: Actual vs. Predicted Sale Price")
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], color='red', linestyle='--', linewidth=1)
plt.tight_layout()
plt.show()

In [ ]:



# 3. RESIDUAL DISTRIBUTION (RANDOM FOREST)
rf_residuals = y_test - y_pred_rf
plt.figure(figsize=(8, 6))
sns.histplot(rf_residuals, bins=50, kde=True, color='blue')
plt.xlabel("Residuals (RF Actual - Predicted)")
plt.title("Random Forest Residual Distribution")
plt.tight_layout()
plt.show()